# WordPress
wp-config.php
.htaccess
wp-content/uploads
wp-content/upgrade
wp-content/cache

# Docker


# Node
node_modules

# Ignore all files in the root except for the WordPress core files
/*
!wp-admin
!wp-content
!wp-includes
!wp-*.php
!index.php
!license.txt
!readme.html
!xmlrpc.php
!.gitignore